.chu p {
    font-family: 'Arial' !important;
    font-size: 20px;
    text-align: justify;
    margin-top: 2%;
}



.headpic {
    display: block;
    overflow: hidden;
}

.headpic img {
    width: 100%;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    transition: all 20s ease;
    display: block;
    margin-top: -7%;
}

.headpic img:hover {
    transform: scale(1.08)
}

#title {
    font-family: 'Dancing Script', cursive !important;
    font-size: 50px;
    color: black;
    text-align: center;
}


.body h2 {
    color: rgb(153, 0, 0);
    font-family: 'Dancing Script';
    text-align: center;
    margin-top: 2%;
    font-size: 36px;
}

.body h3 {
    color: rgb(102, 0, 0);
    font-family: 'Dancing Script';
    font-style: bold;
    margin-bottom: 2%;

}

#mist {
    width: 100%;
}

#smpic {
    color: #4f4f4f;
    font: 400 20px/170% arial !important;
    margin-top: -0.2%;
}

#dhv {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hotel {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#eat li {
    font-family: 'Arial' !important;
    font-size: 20px;
    text-align: justify;
    margin-top: 1%;
}

#endpic {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}