.ticket-button {
    position: fixed;
    bottom: 350px;
    right: 50px;
    padding: 10px 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .ticket-button:hover {
    background-color: #0056b3;
  }